numpy>=1.21
fire==0.1.3
tqdm==4.45.0
soundfile==0.10.3.post1
unidecode==1.1.1
numba==0.48.0
librosa==0.7.2
mpi4py>=3.0.0
tensorboard
pyyaml
noisereduce
omegaconf 
pytorch-lightning
timm==0.3.4
lmdb 
tqdm
einops 
ftfy
git+https://github.com/openai/DALL-E.git